<div>
    <div class="bottom-margin" *ngIf="currentIndex && currentIndex > 0">
        <nb-select class="select-min-width" size="small" placeholder="Select" [(selected)]="filterDetails.group"  shape="round" (selectedChange)="onGroupConditionChange($event)">
            <nb-option *ngFor="let item of groupConditions" [value]="item.value">{{item.text}}</nb-option>
        </nb-select>
    </div>
    <div>
        <nb-select size="small" placeholder="Select" [(selected)]="filterDetails.filter" (selectedChange)="onBaseFilterChange($event)">
            <nb-option *ngFor="let item of baseFilter" [value]="item.value">{{item.text}}</nb-option>
        </nb-select>
        <span class="spacing">
            {{filterText[baseSelectedItem]}}
        </span>
        <span *ngIf="filterDetails.filter === 'PAGE'">
            <nb-select size="small" placeholder="Select" [(selected)]="filterDetails.value" (selectedChange)="onValueChange($event)"></nb-select>
        </span>
        <span *ngIf="filterDetails.filter === 'TIME_SPENT'">
            <nb-select size="small" placeholder="Select" [(selected)]="filterDetails.condition" (selectedChange)="onConditionChange($event)">
                <nb-option *ngFor="let item of timeSpentConditions" [value]="item.value">{{item.text}}</nb-option>
            </nb-select>
            <input type="number" min="1" class="spacing" nbInput placeholder="10" fieldSize="small" [ngModel]="filterDetails.value" (ngModelChange)="onValueChange($event)">
            <nb-select size="small" placeholder="Select" [(selected)]="filterDetails.units" (selectedChange)="onUnitChange($event)">
                <nb-option *ngFor="let item of timeUnitsText" [value]="item.value">{{item.text}}</nb-option>
            </nb-select>
        </span>
        <span *ngIf="filterDetails.filter === 'BUTTON_CLICK'">
            <nb-select size="small" placeholder="Select" [(selected)]="filterDetails.value" (selectedChange)="onValueChange($event)"></nb-select>
        </span>
        <button size="small" nbButton ghost status="danger" (click)="onRemoveFilter()"><nb-icon icon="close-circle-outline"></nb-icon></button>
    </div>
</div>