.table-width-full {
    width: 100%;
}
.table-card-padding-0 {
    padding-left: 0px;
    padding-right: 0px;
}
.bold {
    font-weight: bold;
}
.heading-margin {
    margin-top: 16px;
    margin-bottom: 16px;
}