.header-component {
    width: 100%;
}
.logo {
    width: 140px;
    height: 100%;
}
.app-container {
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/2971124.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 101%;
}
.layout-container {
    display: block;
    width: 100vw;
    margin-top: 380px;
}
.login-logo-container {
    padding: 32px;
    padding-bottom: 0px;
    text-align: center;
}