.filter-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.export-button-margin {
    margin-top: 16px;
    margin-bottom: 16px;
}
.flex {
    display: flex;
}
.save-button {
    margin-left: 16px;
}
amplify-authenticator {
  width: 100%;
}
.info-text-size {
    font-size: 12px;
    font-weight: 600;
}
.code-block {
    background-color: rgba($color: #d3d3d3, $alpha: 0.2);
    border-radius: 4px;
    padding: 12px;
    font-size: 13px;
    margin-top: 8px;
}
.margin-bottom-24 {
    margin-bottom: 24px;
}