.filter-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.export-button-margin {
    margin-top: 16px;
    margin-bottom: 16px;
}
.flex {
    display: flex;
}
.save-button {
    margin-left: 16px;
}