<div>
    <nb-card>
        <nb-card-header>
            <div class="filter-card-header ">
                FILTERS
                <div>
                    <input nbInput placeholder="Pick Date Range" [nbDatepicker]="formpicker" [ngModel]="range|async" fieldSize="small">
                    <nb-rangepicker #formpicker (rangeChange)="onDateRangeChange($event)"></nb-rangepicker>
                    <button size="small" *ngIf="checkIfDateRangePresent()" nbButton ghost status="danger" (click)="clearDateRangePicker()"><nb-icon icon="close-circle-outline"></nb-icon></button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <app-filters (applyFilters)="getResults($event)"></app-filters>
        </nb-card-body>
    </nb-card>
    <nb-card accent="success">
        <nb-card-body class="table-card-padding-0">
            <app-results-table></app-results-table>
            <div class="flex">
                <div class="export-button-margin">
                    <button nbButton status="success" (click)="onExport()">DOWNLOAD</button>
                </div>
                <div class="export-button-margin save-button">
                    <button nbButton status="success" (click)="onSave()">Save</button>
                </div>
            </div>
        </nb-card-body>
    </nb-card>
     <nb-card accent="success">
        <nb-card-body class="table-card-padding-0">
            <app-sheets-table></app-sheets-table>
        </nb-card-body>
    </nb-card>
</div>
