// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$analytics-primary: mat.define-palette(mat.$indigo-palette);
$analytics-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$analytics-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$analytics-theme: mat.define-light-theme((
  color: (
    primary: $analytics-primary,
    accent: $analytics-accent,
    warn: $analytics-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($analytics-theme);

@import 'themes';

@import '~@nebular/theme/styles/globals';

@import '~@aws-amplify/ui-angular/theme.css';

@include nb-install() {
  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

// .mat-header-cell {
//   color: rgba(0, 0, 0, 0.04) !important;
// }
th.mat-header-cell {
  border-bottom-color: rgba(0, 0, 0, 0.04) !important;
}
td.mat-cell {
  border-bottom-color: rgba(0, 0, 0, 0.04) !important;
}

[data-amplify-authenticator] [data-amplify-router] {
  border-radius: 4px;
  background-color: rgba(255,255,255,1);
  border: none;
}

.amplify-label {
  color: rgba($color: #000000, $alpha: 0.5);
  font-size: 14px;
}
.amplify-button--primary {
  background-color: hsl(164.92deg 100% 35.1%);
}
[data-amplify-authenticator] {
  height: 100%;
}